/* src/modules/mainpage.css */

#root {
  height: 100vh; /* Utiliza 100vh para ocupar el 100% del viewport height */
  display: flex;
  background-color: #1f1f1f;
  flex-direction: column;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  padding: 20px;
  width: 100%;
  height: 100vh;
  flex: 1; /* Permite que el contenido ocupe el espacio restante */
  background-color: #1f1f1f;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 48px; /* Altura de la navbar */
}
